:root {
  color-scheme: dark light;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1300px;
  display: grid;
  grid-template-columns: 1fr;
  padding: 18px 0;
  gap: 30px;
}

#form {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 10px;
}

#form input, textarea {
  padding: 4px;
} 

#form #btn-submit {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  background-color: rgb(11, 241, 107);
  color: white;
  font-weight: 700;
  width: fit-content;
}

#form #btn-submit:hover {
  background-color: rgb(10, 196, 88);
}

#form #btn-submit:disabled {
  background-color: gray;
  color: rgb(93, 93, 93);
}

.todos-container {
  height: 95vh;
  border: 1px solid #8f8f9d;
  padding: 8px;
  position: relative;
  max-height: 100%;
  overflow-y: auto;
}

.todos-container h1 {
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
}

#loading {
  position: absolute;
  left: 50%;
  top: 40%;
  padding: 8px 16px;
  background-color: #8f8f9db3;
}

#todos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.todo {
  list-style: none;
  border: 1px solid #8f8f9d;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo p {
  color: #818181;
}

.btns {
  display: flex;
  gap: 7px;
}

.btns button {
  color: white;
  padding: 8px 16px;
  border: none;
  background-color: rgb(39, 113, 217);
  cursor: pointer;
}

.btns button:hover {
  background-color: rgb(28, 83, 160);
}

.btns button:nth-child(2) {
  background-color: rgb(217, 39, 39);
}

.btns button:nth-child(2):hover {
  background-color: rgb(164, 28, 28);
}

@media (min-width: 768px) {
  .container {
    width: 80%;
  }

  #form #btn-submit {
    width: auto;
  }

  .todos-container {
    padding: 8px 18px;
  }
}

@media (min-width: 725px) {
  .container {
    grid-template-columns: 1fr 2fr;
  }
}